@import '../../../../theme';

// 主题变量 color
$uiButtonThemes: (
  light:(
    bpButtonPlains: (
      Primary: (
        fontWeight: 400,
        color: map-get(map-get($themes, light), primary),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(map-get(map-get($themes, light), primary), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
      Info: (
        fontWeight: 400,
        color: lighten(map-get(map-get($themes, light), primary), 2%),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(lighten(map-get(map-get($themes, light), primary), 2%), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
      Warning: (
        fontWeight: 400,
        color: map-get(map-get($themes, light), warn),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(map-get(map-get($themes, light), warn), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
    ),
    bpButtonBorders: (
      Primary: (
        fontWeight: 400,
        color: map-get(map-get($themes, light), primary),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px rgba(map-get(map-get($themes, light), primary), .6),
        hover_color: rgba(map-get(map-get($themes, light), primary), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(map-get(map-get($themes, light), primary), .4)
      ),
      Info: (
        fontWeight: 400,
        color: lighten(map-get(map-get($themes, light), title), 2%),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px rgba(#8791a6, .6),
        hover_color: rgba(lighten(map-get(map-get($themes, light), title), 2%), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(#8791a6, .4),
      ),
      Warning: (
        fontWeight: 400,
        color: map-get(map-get($themes, light), warn),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px rgba(map-get(map-get($themes, light), warn), .6),
        hover_color: rgba(map-get(map-get($themes, light), warn), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(map-get(map-get($themes, light), warn), .4),
      )
    ),
    bpButtonFills: (
      Primary: (
        fontWeight: 400,
        color: #fff,
        bgColor: rgba(map-get(map-get($themes, light), primary), .9),
        borderColor: solid 1px rgba(darken(map-get(map-get($themes, light), primary), 5%), .6),
        hover_color: rgba(#fff, .8),
        hover_bgColor: rgba(darken(map-get(map-get($themes, light), primary), 5%), .9),
        hover_borderColor: solid 1px rgba(darken(map-get(map-get($themes, light), primary), 10%), .4),
      ),
      Info: (
        fontWeight: 400,
        color: #151515,
        bgColor: rgba(#fff, .9),
        borderColor: solid 1px rgba(#e1e4e8, .9),
        hover_color: rgba(#151515, .8),
        hover_bgColor: rgba(#eff1f2, .9),
        hover_borderColor: solid 1px rgba(#e1e4e8, .9)
      ),
      Warning: (
        fontWeight: 400,
        color: #fff,
        bgColor: rgba(map-get(map-get($themes, light), warn), .9),
        borderColor: solid 1px rgba(darken(map-get(map-get($themes, light), warn), 5%), .6),
        hover_color: rgba(#fff, .8),
        hover_bgColor: rgba(map-get(map-get($themes, light), warn), .7),
        hover_borderColor: solid 1px rgba(darken(map-get(map-get($themes, light), warn), 5%), .4),
      )
    )
  ),
  dark: (
    bpButtonPlains: (
      Primary: (
        fontWeight: 400,
        color: map-get(map-get($themes, dark), primary),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(map-get(map-get($themes, dark), primary), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
      Info: (
        fontWeight: 400,
        color: lighten(map-get(map-get($themes, dark), primary), 2%),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(lighten(map-get(map-get($themes, dark), primary), 2%), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
      Warning: (
        fontWeight: 400,
        color: map-get(map-get($themes, dark), warn),
        bgColor: rgba(0,0,0,0),
        borderColor: none,
        hover_color: rgba(map-get(map-get($themes, dark), warn), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: none,
      ),
    ),
    bpButtonBorders: (
      Primary: (
        fontWeight: 400,
        color: map-get(map-get($themes, dark), primary),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px rgba(map-get(map-get($themes, dark), primary), .6),
        hover_color: rgba(map-get(map-get($themes, dark), primary), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(map-get(map-get($themes, dark), primary), .4)
      ),
      Info: (
        fontWeight: 400,
        color: lighten(map-get(map-get($themes, dark), title), 2%),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px #464646,
        hover_color: rgba(lighten(map-get(map-get($themes, dark), title), 2%), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(#464646, .8),
      ),
      Warning: (
        fontWeight: 400,
        color: map-get(map-get($themes, dark), warn),
        bgColor: rgba(0,0,0,0),
        borderColor: solid 1px rgba(map-get(map-get($themes, dark), warn), .6),
        hover_color: rgba(map-get(map-get($themes, dark), warn), .7),
        hover_bgColor: rgba(0,0,0,0),
        hover_borderColor: solid 1px rgba(map-get(map-get($themes, dark), warn), .4),
      )
    ),
    bpButtonFills: (
      Primary: (
        fontWeight: 400,
        color: #fff,
        bgColor: rgba(map-get(map-get($themes, dark), primary), .9),
        borderColor: solid 1px rgba(darken(map-get(map-get($themes, dark), primary), 5%), .6),
        hover_color: rgba(#fff, .8),
        hover_bgColor: rgba(darken(map-get(map-get($themes, dark), primary), 5%), .9),
        hover_borderColor: solid 1px rgba(darken(map-get(map-get($themes, dark), primary), 10%), .4),
      ),
      Info: (
        fontWeight: 400,
        color: #ffffff,
        bgColor: rgba(#5e5e5e, .9),
        borderColor: solid 1px rgba(#585b5e, .9),
        hover_color: rgba(#ffffff, .8),
        hover_bgColor: rgba(#646464, .9),
        hover_borderColor: solid 1px rgba(#65696d, .9)
      ),
      Warning: (
        fontWeight: 400,
        color: #fff,
        bgColor: rgba(map-get(map-get($themes, dark), warn), .9),
        borderColor: solid 1px rgba(darken(map-get(map-get($themes, dark), warn), 5%), .6),
        hover_color: rgba(#fff, .8),
        hover_bgColor: rgba(map-get(map-get($themes, dark), warn), .7),
        hover_borderColor: solid 1px rgba(darken(map-get(map-get($themes, dark), warn), 5%), .4),
      )
    )
  )
)
