
.bp-tableView {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    outline-offset: 0;
    
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;

    .bp-tableView__title {
        margin-top: .77em;
        margin-bottom: .3em;
        padding-left: 15px;
        padding-right: 15px;
        color: $bpTableViewTitleColor;
        font-size: $bpTableViewTitleFontSize;
    }
}
