// 主题变量 color
$themes:(
  light:(
    /* 文本标题颜色 */
    title: #000,
    /* 文本颜色 */
    text: #333,
    /* 主色 */
    primary: #1baaf5,
    /* 警告色 */
    warn: #FA5151,
    /* 背景色 */
    bg: #F7F7F7,
    /* 边框颜色 */
    border: rgba(0,0,0,.1),
    /* 链接文本颜色 */
    link: #07f,
  ),
  dark:(
    /* 文本标题颜色 */
    title: #e8eaed,
    /* 文本颜色 */
    text: #bdc1c6,
    /* 主色 */
    primary: #1baaf5,
    /* 警告色 */
    warn: #FA5151,
    /* 背景色 */
    bg: #202124,
    /* 边框颜色 */
    border: #3c4043,
    /* 链接文本颜色 */
    link: #539bf5,
  )
)