@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Semibold.woff2') format('woff2');
  font-weight: 900;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Semibold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Semibold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Medium.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Thin.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC"), url('~@bpui/ui/fonts/PingFangSC/PingFangSC-Thin.woff2') format('woff2');
  font-weight: 100;
}